<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Football referee</title>
    <link rel="stylesheet" href="../styles/pages/match.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <div class="match-info">
        <div class="result">
          <div class="team-logo-container">
            <img class="team-logo" src="../assets/images/team1.jpeg" />
          </div>

          <div class="team-name team-name1">KOPERNIKUS-ZELEZNICAR</div>

          <div class="result-numbers-container">
            <div class="result-numbers">2:3</div>
          </div>

          <div class="team-name team-name2">SLOGA LESKOVAC</div>

          <div class="team-logo-container">
            <img class="team-logo" src="../assets/images/team2.png" />
          </div>
        </div>
        <div class="other-info">
          <span>Status: PLAYED</span>
          <span>Date: 23. Nov 2025. 11:00</span>
          <span>Round: 3</span>

          <span>Competition: Druga kadetska liga "JUG"</span>
          <span>Stadium: Nis, Cair</span>
        </div>
        <div class="referee-info">
          <h4>Match Officials</h4>
          <span>Referee: Zvonko Zvonkovic</span>
          <span>1st Assistant Referee: Bogdan Bogdanovic</span>
          <span>2nd Assistant Referee: Milan Milanovic</span>
          <span>4th Official: Zvonko Zvonkovic</span>
          <span>Match delegate: Bogdan Bogdanovic</span>
          <span>VAR: Milan Milanovic</span>
          <span>AVAR: Milan Milanovic</span>
        </div>

        <div class="match-time-info">
          <h4>Match phases</h4>
          <div class="match-time-labels">
            <label></label>
            <label>Start</label>
            <label>End</label>
            <label>Extra time</label>
            <label>Result</label>
          </div>
          <div class="match-time">
            <div>
              <span>1st HALFTIME</span>
              <span>11:01:44</span>
              <span>11:47:05</span>
              <span>0</span>
              <span>0:0</span>
            </div>
            <div>
              <span>2nd HALFTIME</span>
              <span>11:58:25</span>
              <span>12:45:09</span>
              <span>2</span>
              <span>1:3</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
